html,
body {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    background-color: #3D1351;
    color: white;
}

.table {
    color: white;
}

.navbar {
    background-color: white;
    color: #3D1351;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5C2D3 !important;
    border-color: #F5C2D3 !important;
    color: #3D1351 !important;
    font-weight: 500;
}

.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    background-color: #F5C2D3 !important;
    border-color: #F5C2D3 !important;
    color: #3D1351 !important;
    font-weight: 500;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%
}

.modal-content {
    background-color: #3D1351;
    color: white;
}

.table-container {
    height: 400px;
    overflow-y: scroll;
}