<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
            <div class="container">
              <a class="navbar-brand text-capitalize fw-bold" href="/">MUSIC LANE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link px-3" href="/">HOME</a>
                  <a class="nav-link px-3" href="/about">ABOUT</a>
                  <a class="nav-link px-3" href="/contact">CONTACT</a>
                  <a class="nav-link px-3" href="/privacy">PRIVACY</a>
                </div>
              </div>
            </div>
        </nav>
        <div class="container mt-5 pt-5">
            {% block content %} {% endblock %}
        </div>
        <img src="../static/img/soundwave.svg" alt="Soundwave image" class="footer" />
    </body>
</html>