{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 mt-5 pt-5">
        <h1 class="fw-bold">Relive all your music memories.</h1>
        <p class="mt-3 me-5">Replay the month with a curated selection of your favourite songs, recent discoveries, plus new releases and recommended tracks based on your listening habits.</p>
        <div class="container mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-5">
                    <button type="button" class="btn btn-custom" onclick="location.href = '/login';">LOGIN WITH SPOTIFY</button>
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-outline-custom" onclick="location.href = '/about';">LEARN MORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img src="../static/img/headphones.png" alt="Headphones image" />
    </div>
</div>
{% endblock %}