{% extends "base.html" %} {% block title %}Privacy{% endblock %} 
{% block content %}
<h1 class="fw-bold text-center">Privacy</h1>
<p>Here's what you need to know:</p>
<ul>
    <li>Music Lane uses data from your Spotify account, including your saved tracks, top tracks, and followed artists to generate personalized playlists for you.</li>
    <li>Your personal information is not stored or shared anywhere, including your email address or password.</li>
    <li>Your data is only used to create playlists and is not used for any other purpose.</li>
    <li>If you have any questions or concerns about your privacy, please don't hesitate to <a href="/contact">contact me</a>.</li>
</ul>
<p>If you wish to revoke Music Lane's permissions, you can visit your apps page and click "REMOVE ACCESS" on Music Lane. <a href="https://support.spotify.com/us/article/spotify-on-other-apps/">Here</a> is more detailed instructions on how to do so.</p>

{% endblock %}