{% extends "base.html" %} {% block title %}About{% endblock %} 
{% block content %}
<h1 class="fw-bold text-center">About</h1>
<p>Welcome to Music Lane! My website creates custom playlists based on your listening history and preferences. With just a few clicks, you can travel back in time by generating a playlist featuring your favourite tracks, new releases from your go-to artists in that era, plus recomendations based on your listening habits.</p>
<p>Music Lane utilizes Spotify's Web API to access your account data, including your saved tracks, top tracks, and followed artists. Click <a href="/privacy">here</a> to learn more about our privacy policy.</p>
<p>To get started, select the month and year you want to create a playlist for, and we'll do the rest. For best results, select a month and year when you saved a lot of tracks. Note: your top tracks are only included if you select the last month and year.</p>
<p>I hope you enjoy your music time capsules!</p>
<br class="mt-5"/>
<small>Image attribution: https://icons8.com/illustrations/illustration/61289b41c78dc700018d7933</small>
{% endblock %}